<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <link rel ="stylesheet" type="text/css" href="../css/reset.css">
        <!--Bootstrap/CSS-->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="../bootstrap/4.1.3/css/bootstrap.min.css">
        <!--CSS-->
        <link rel="stylesheet" type="text/css" href="../css/style.css">
        <link rel="stylesheet" type="text/css" href="../css/styleAJUDA.css">
        <link rel="icon" type="icon" href="../img/debian_icon.png">
        <!-- JavaScript -->
        <script type="text/javascript" src="../js/Jquery/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="../js/menu.js"></script>  
        <title> Debian - Ajuda </title>
    </head>
    <body>
        <nav id="barra">
            <!-- LOGO -->
            <a href="../index.html">
                <img src="../img/logo_top.png" id="logo" height=200px > 
            </a>
            <div>
                <!-- CABEÇALHO -->
                <h2 id="titulo"><b> Ajuda <b></h2>
                <!-- MENU PRINCIPAL -->
                <div id="menu">
                    <ul>
                        <li><a href="sobre.html">Sobre</a></li>
                        <li><a href="doe.html">Doe</a></li>
                        <li>
                            <a href="obtendo.html">Obtendo o Debian</a>
                            <ul class="sublista"> 
                                <li><a id="a1" href="#">ISO's</a></li>
                                <li><a id="a1" href="#">Live</a></li>
                                <li><a id="a1" href="#">Torrent</a></li>
                                <li><a id="a1" href="#">Versões</a></li>
                                <li><a id="a1" href="#">Por que o Debian?</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Ajuda</a>
                            <ul class="sublista"> 
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">Documentação</a></li>
                                <li><a href="#">WikiDebian</a></li>
                                <li><a href="#">Foruns</a></li>
                                <li><a href="#">+links</a></li>
                            </ul>
                        </li>
                        <li><a href="cantodev.html">Canto dos Desenvolvedores</a></li>
                    </ul>
                </div>
                <!-- IDIOMA -->
                <select id="idioma">
                    <option>PT-BR</option>
                    <option>EN</option>
                    <option>FR</option>
                    <option>ES</option>
                </select>
                <!-- BOTÃO DOWNLOAD -->
                <a id="linkdownload" href="#"><div id="btndownload">Download</div></a>
            </div>
        </nav>
        <nav id="info">
            <img src="../img/geral/icon-menu-light.png">
                <!-- Menu do lado -->
            <ul id="info1">
                <li><a class="a1" href="#">(FAQ) Frequency Asked Question</a></li>
                <li><a class="a1" href="#">Documentação</a></li>
                <li><a class="a1" href="#">Fórum</a></li>
                <li><a class="a1" href="#">Grupo de Notícias Unsenet</a></li>
                <li><a class="a1" href="#">Sistema de Acompanhamento de Bugs (The Bug Tracking Sistem)</a></li>
                <li><a class="a1" href="#">Ajuda IRC</a></li>
                <li><a class="a1" href="#">Site Web</a></li>
                <li><a class="a1" href="#">Mantedores de Pacote</a></li>
                <li><a class="a1" href="#">Consultores</a></li>
                <li><a class="a1" href="#">Problemas Conhecidos</a></li>
                <li><a class="a1" href="#">WikiDebian</a></li>
            </ul>
         </nav>
         <!-- RODAPÉ -->
         <footer>
            <img src="../img/LOGO RODAPE.png">
            <div>
                <ul id="sobre">
                    <li><a class="item" href="../view/sobre.html">Sobre</a></li>
                    <li><a class="subitem" href="#">FAQ</a></li>
                    <li><a class="subitem" href="#">Sobre o projeto</a></li>
                </ul>
                <ul id="obtendoDebian">
                    <li><a class="item" href="../view/obtendo.html">Obtendo o Debian</a></li>
                    <li><a class="subitem" href="#">ISO</a></li>
                    <li><a class="subitem" href="#">Live</a></li>
                    <li><a class="subitem" href="#">Torrent</a></li>
                    <li><a class="subitem" href="#">Versões</a></li>
                </ul>
                <ul id="ajuda">
                    <li><a class="item" href="../view/ajuda.html">Ajuda</a></li>
                    <li><a class="subitem" href="#">Documentação</a></li>
                    <li><a class="subitem" href="#">WikiDebian</a></li>
                    <li><a class="subitem" href="#">Fórum</a></li>
                </ul>
                <ul id="mapaSite">
                    <li><a class="item" href="#">Mapa do Site</a></li>
                    <li><a class="item" href="#">O Blog do Debian</a></li>
                    <li><a class="item" href="#">Notícias</a></li>
                    <li><a class="item" href="#">Blends</a></li>
                    <li><a class="item" href="#">Pacotes</a></li>
                </ul>
            </div>
            <p id="copyright">To report a problem with the web site, please e-mail our publicly archived mailing list
                debian-www@lists.debian.org in English. For other contact information, see the Debian contact page. Web
                site source code is available.<br>
                Última Modificação: Sáb, 16 de Mar de 2019, 15:25:04 UTC <br>
                Última compilação: Qui, 20 de Jun de 2019, 03:51:43 UTC.<br>
                Copyright © 1997-2019 SPI e outros; Veja os termos de licença<br>
                Debian é uma marca registrada da Software in the Public Interest, Inc.</p>
        </footer>
        <!--Jquery-->
        <script src="../js/Jquery/jquery-3.3.1.min.js"></script>
        <!--Botstrap/Javascript-->
        <script src="../bootstrap/4.1.3/js/bootstrap.min.js"></script>
    </body>
</html>