<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <link rel ="stylesheet" type="text/css" href="../css/reset.css">
        <!--Bootstrap/CSS-->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="../bootstrap/4.1.3/css/bootstrap.min.css">
        <!--CSS-->
        <link rel="stylesheet" type="text/css" href="../css/style.css">
        <link rel="icon" type="icon" href="../img/debian_icon.png">
         <!-- JavaScript -->
         <script type="text/javascript" src="../js/Jquery/jquery-3.3.1.min.js"></script>
         <script type="text/javascript" src="../js/menu.js"></script>  
        <title> Debian - Canto dos Desenvolvedores </title>
    </head>
    <body>
        <nav id="barra">
            <!-- LOGO -->
            <a href="../index.html">
                <img src="../img/logo_top.png" id="logo" height=200px > 
            </a>
            <div>
                <!-- CABEÇALHO -->
                <h2 id="titulo"><b> Canto dos Desenvolvedores <b></h2>
                <!-- MENU PRINCIPAL -->
                <div id="menu">
                    <ul>
                        <li><a href="sobre.html">Sobre</a></li>
                        <li><a href="doe.html">Doe</a></li>
                        <li>
                            <a href="obtendo.html">Obtendo o Debian</a>
                            <ul class="sublista"> 
                                <li><a href="#">ISO's</a></li>
                                <li><a href="#">Live</a></li>
                                <li><a href="#">Torrent</a></li>
                                <li><a href="#">Versões</a></li>
                                <li><a href="#">Por que o Debian?</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="ajuda.html">Ajuda</a>
                            <ul class="sublista"> 
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">Documentação</a></li>
                                <li><a href="#">WikiDebian</a></li>
                                <li><a href="#">Foruns</a></li>
                                <li><a href="#">+links</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Canto dos Desenvolvedores</a></li>
                    </ul>
                </div>
                <!-- IDIOMA -->
                <select id="idioma">
                    <option>PT-BR</option>
                    <option>EN</option>
                    <option>FR</option>
                    <option>ES</option>
                </select>
                <!-- BOTÃO DOWNLOAD -->
                <a id="linkdownload" href="#"><div id="btndownload">Download</div></a>
            </div>
        </nav>
        <nav id="info">
                
            <ul id="info1">
                <li><a href="./Imagens/Isabelle1.gif">Isabelle</a></li>
                <li><a href="./Imagens/kirby.gif">Kirby</a></li>
            </ul>
         </nav>
         
        <!--Jquery-->
        <script src="../js/Jquery/jquery-3.3.1.min.js"></script>
        <!--Botstrap/Javascript-->
        <script src="../bootstrap/4.1.3/js/bootstrap.min.js"></script>
    </body>
</html>